/* leny/bizniskat
 *
 * /src/stylus/object/card.styl - Cosmetic-free design styles for card
 *
 * coded by leny@flatLand!
 * started at 19/10/2016
 */

.card
    size 90% auto
    min-width 30rem
    margin 0 auto 1rem
    &__face
        margin 0 auto 1rem
    &__back
        margin 0 auto
