/* leny/bizniskat
 *
 * /src/stylus/object/wrapper.styl - Cosmetic-free design styles for wrapper
 *
 * coded by leny@flatLand!
 * started at 19/10/2016
 */

.wrapper
    display flex
    size 100%
    flex-direction column
    justify-content center
    align-items center
    margin 0 auto
