/* leny/bizniskat
 *
 * /src/stylus/components/back.styl - Design component styles for back
 *
 * coded by leny@flatLand!
 * started at 19/10/2016
 */

.back
    padding 0 1rem 1rem
    color laborColor
    &__skills
        list-style none inside
    &__coords
        text-align right
