/* leny/bizniskat
 *
 * /src/stylus/components/card.styl - Design component styles for card
 *
 * coded by leny@flatLand!
 * started at 19/10/2016
 */

.card
    overflow hidden
    background white url( "../images/lightpaperfibers.png" ) center repeat
    box-shadow 0 .5rem 4rem black

+retina-query( all, 1.3 )
    .card
        background white url( "../images/lightpaperfibers_@2X.png" ) center repeat
