/* leny/bizniskat
 *
 * /src/stylus/components/coords.styl - Design component styles for coords
 *
 * coded by leny@flatLand!
 * started at 19/10/2016
 */

.coords
    &__name
        font-size 1.5rem
    &__link
        font-size 1.4rem
