/* leny/bizniskat
 *
 * /src/stylus/components/header.styl - Design component styles for header
 *
 * coded by leny@flatLand!
 * started at 19/10/2016
 */

.header
    padding 4rem 0 0
    &__link
        color laborColor
        text-decoration none
