/* leny/bizniskat
 *
 * /src/stylus/components/logo.styl - Design component styles for logo
 *
 * coded by leny@flatLand!
 * started at 19/10/2016
 */

.logo
    &__radial
        opacity .05
    &__code
    &__design
    &__things
        font 800 1.4rem/1 MavenPro
        color laborColor
        text-transform uppercase
    &__things::after
        opacity 1
