/* leny/bizniskat
 *
 * /src/stylus/components/utils.styl - Design component styles for utils
 *
 * coded by leny@flatLand!
 * started at 19/10/2016
 */

.utils
    size 90% auto
    min-width 30rem
    &__link
        font-size 1.6rem
        color altColor
        text-decoration none
        text-shadow 0 .5rem 4rem black
        svg
            display inline-block
            size 1.6rem
            vertical-align middle
            path
                fill altColor
