/* leny/bizniskat
 *
 * /src/stylus/base/root.styl - Styles for root elements
 *
 * coded by leny@flatLand!
 * started at 09/10/2016
 */

html
    size 100%
    background black url( "../images/black_linen_v2.png" ) center repeat
    font normal 62.5%/1.5 MavenPro
    color altColor
    -webkit-font-smoothing antialiased
    -webkit-text-size-adjust 100%

+retina-query( all, 1.5 )
    html
        background black url( "../images/black_linen_v2_@2X.png" ) center repeat
        background-size 640px

body
    position relative
    size 100%
    margin 0 auto
    padding 7.5rem 0

+media-query( all, min-width 1025px )
    body
        padding 0
